#logo {
    text-align: center;
    margin: 10% auto 10% auto;
}

.navbar-right {
    padding-right: 30px;
}

.brand-left {
    display: flex;
    justify-content: left;
    position: absolute;
    width: 100%;
    padding-left: 5px;
    left: 0;
    top: 0;
}

.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}
